@model MyLink.Models.Link

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Link</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Language.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Language.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LinkCategory.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LinkCategory.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Url)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Url)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ranking)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ranking)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pending)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pending)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Subtitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subtitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Series)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Series)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Chapter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Chapter)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalChapter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalChapter)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Old)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Old)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Top)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Top)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.LinkId }, new { @class = "btn btn-warning" }) |
    @Html.ActionLink("Back to List", "Index", new { }, new { @class = "btn btn-success" })
</p>
